@model ListTelescopesViewModel

@{
    ViewData["Title"] = "All Telescopes";
    string previouseDisabled = Model.CurrentPage == 1 ? "disabled" : string.Empty;
    string nextDisabled = Model.CurrentPage == Model.TotalPages ? "disabled" : string.Empty;
}

<div class="row">
    <h2>@ViewData["Title"]</h2>
    @foreach (var telescope in Model.Telescopes)
    {
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">
                    <a asp-area="" asp-controller="Telescopes" asp-action="Details" asp-route-id="@telescope.Id">@telescope.Name</a>
                </h3>
            </div>
            <div class="panel-body">
                <div class="site-image">
                    <img src="@telescope.ImageUrl" alt="Telescope Image" width="100" height="100" />
                </div>
                <div>
                    @telescope.Description.Slice(WebConstants.TelescopeDescriptionSliceLength)
                </div>
                @if (User.IsInRole(WebConstants.ModeratorRole))
                {
                    <a asp-area="Moderator" asp-controller="Telescopes" asp-action="Edit" asp-route-id="@telescope.Id" class="btn btn-warning btn-xs pull-right">Edit</a>
                }
            </div>
        </div>
    }
</div>
@if (Model.Telescopes.Any())
{
    <div class="row">
        <ul class="pagination">
            <li class="page-item">
                <a class="page-link @previouseDisabled" asp-area="" asp-controller="Telescopes" asp-action="All" asp-route-page="@Model.PrevPage" aria-label="Previous">
                    <span aria-hidden="true">&laquo;</span>
                    <span class="sr-only">Previous</span>
                </a>
            </li>
            @for (int i = Model.FirstPage; i <= Model.LastPage; i++)
            {
                <li class="page-item @(Model.CurrentPage == i ? "active" : string.Empty)">
                    <a class="page-link @(Model.CurrentPage == i ? "disabled" : string.Empty)" asp-area="" asp-controller="Telescopes" asp-action="All" asp-route-page="@i">@i</a>
                </li>
            }
            <li class="page-item">
                <a class="page-link @nextDisabled" asp-area="" asp-controller="Telescopes" asp-action="All" asp-route-page="@Model.NextPage" aria-label="Next">
                    <span aria-hidden="true">&raquo;</span>
                    <span class="sr-only">Next</span>
                </a>
            </li>
        </ul>
    </div>
}