@model TelescopeDetailsServiceModel
@{
    ViewData["Title"] = $"{Model.Name} Details";
}

<div class="row">
    <h2>@Model.Name</h2>
    <img src="@Model.ImageUrl" alt="Telescope Image" width="250" class="site-image" />
    <h3>Location: @Model.Location</h3>
    <h3>Mirror Diameter: @Model.MirrorDiameter Meters</h3>
    <p>@Model.Description</p>
    <p>@Model.Discoveries @(Model.Discoveries == 1 ? "Discovery" : "Discoveries")</p>
    <p>@Model.Publications @(Model.Publications == 1 ? "Publication" : "Publications")</p>
    <a class="btn btn-success" asp-area="" asp-controller="Publications" asp-action="ByTelescope" asp-route-id="@Model.Id">Publications</a>
    <div class="pull-right">
        @if (User.IsInRole(WebConstants.ModeratorRole))
        {
            <a asp-area="Moderator" asp-controller="Telescopes" asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-warning">Edit</a>
        }
    </div>
</div>