@model IEnumerable<ListPublicationsServiceModel>

@foreach (var publication in Model)
{
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">
                <a asp-area="" asp-controller="Publications" asp-action="Details" asp-route-id="@publication.Id">@publication.Title</a>
            </h3>
        </div>
        <div class="panel-body">
            <div>
                @publication.Content.Slice(WebConstants.JournalDescriptionSliceLength)
            </div>
            <div class="pull-right">
                <span class="glyphicon glyphicon-eye-open"></span>@publication.Views
                <span class="glyphicon glyphicon-repeat"></span>@publication.CommentsCount

                @if (User.IsInRole(WebConstants.ModeratorRole))
                {
                    <a asp-area="Moderator" asp-controller="Publications" asp-action="Edit" asp-route-id="@publication.Id" class="btn btn-warning btn-xs">Edit</a>
                }
            </div>
        </div>
    </div>
}